{% load static from staticfiles %}

<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">

    <title> 
        STOP THE ADDICTION
    </title>
</head>

<body>
    <ul>
        <li><a href={% url 'homepage' %}>Home</a></li>
        <li><a href={% url 'index' %}>Sign In</a></li>
        <li><a href={% url 'about' %}>Sobre</a></li>
    </ul>
    <br><br>
    <h1>STOP THE ADDICTION</h1>
    <h2>Register</h2>
    <br><br>

    <form method="POST" class="form-group">
        {{form}}
        <button type="submit" class="btn btn-sucess">Register</button>
    </form> 
</body>